.mostscroll {
  &__content {
    @include Responsive(tablet) {
      border: none !important;
    }
    &-item {
      @include Responsive(tablet) {
        min-width: 40rem !important;
      }
    }
    &-img {
      max-width: 6rem;
      height: auto;
    }
    &-text {
      @include Responsive(tablet) {
        position: static;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
